<div class="bg-dark h-100 text-light mt-4 py-4">
  <div class="container">
    <div class="mb-2 title">Exclam! - Coordinates Trainer</div>
    <div class="mb-2">
      This is an open source app created by Co van Leeuwen. Source code is available <a href="https://github.com/c00/chess-exclam">here</a>.
    </div>
    <div>
      I did not spend a lot of time on it, so there may be some issues with it. If you find any, feel free to <a href="https://github.com/c00/chess-exclam/issues">report them</a>.
    </div>
  </div>
</div>
