<div class="modal-header">
  <h4 class="modal-title pull-left">Exclam - Instructions</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<div class="modal-body">
  <h5>Coordinates... Why?</h5>
  <p>
    Every square on the board has a name (or 'coordinate'). Knowing these names
    makes it easy to communicate with your friends at the bar or at the library.
  </p>
  <p>
    Learning the names is tedious and time consuming.
    <strong>Exclam!</strong> tries to make this more fun!
  </p>

  <h5>What do I do?</h5>
  <p>
    There are 2 types of games: 1) Tapping the correct squares; and 2) tapping
    the button with the correct coordinate.
  </p>
  <p>
    When <strong>Tapping the correct square</strong> all you have to do is look
    at the name of the square that is shown in the middle of the board, and tap
    that square on the board.
  </p>
  <p>
    When <strong>Tapping the correct button</strong> look at the board which
    square is lit up. Find the coordinate, and click the button with the
    coordinate on it.
  </p>

  <p>
    In standard games you will have 30 seconds to give as many correct answers
    as you can. You can only make 2 mistakes per game to succeed, so don't go
    too fast.
  </p>

  <h5>It gets harder</h5>
  <p>
    As you progress, more of the board is used until at the entire board gets
    used at the same time.
  </p>
  <p>
    Once you pass the final round, you should be skilled enough to follow all
    your favorite chess content creators.
  </p>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    aria-label="Close"
    (click)="close()"
  >
    Let's do it!
  </button>
</div>
