<div class="controls my-2">
  <button class="btn" (click)="board.flip()">Flip Board</button>
  <button class="btn" (click)="board.showSquareCoords()">Show Coords</button>
  <button class="btn" (click)="board.hideSquareCoords()">Hide Coords</button>
  <button class="btn" (click)="board.toggleSideCoords()">Toggle Side Coords</button>
</div>

<div class="chessboard" [style.width.px]="size">
  <div class="row p-0 position-relative" *ngFor="let row of board.board; let ci = index">
    <div
      (click)="squareClick.emit(s)"
      class="board-square col"
      [class.dark]="s.isDark"
      [class.text-dark]="s.isLight"
      [class.light]="s.isLight"
      [class.text-light]="s.isDark"
      *ngFor="let s of row; let ri = index"
    >
      <div class="content">
        <span *ngIf="s.showCoords">
          {{ s.coords }}
        </span>
      </div>

      <ng-container *ngIf="board.showSideCoords">
        <span *ngIf="ri === 7" class="side-coord top-right">{{ s.file }}</span>
        <span *ngIf="ci === 7" class="side-coord left-bottom">{{ s.rank }}</span>
      </ng-container>
    </div>
  </div>
</div>
