<div class="chessboard" [style.maxWidth.px]="size" [style.minWidth.px]="220">
  <div class="row m-0 p-0 position-relative" *ngFor="let row of board.board; let ci = index">
    <div
      (click)="onClick(s, $event)"
      class="board-square col"
      [class.highlight]="s.highlight"
      [class.disabled]="s.disabled"
      [class.dark]="s.isDark"
      [class.text-dark]="s.isLight"
      [class.light]="s.isLight"
      [class.text-light]="s.isDark"
      *ngFor="let s of row; let ri = index"
    >
      <div class="content">
        <span *ngIf="s.showCoords">
          {{ s.coords }}
        </span>
      </div>

      <ng-container *ngIf="board.showSideCoords">
        <span *ngIf="ri === 7" class="side-coord top-right">{{ s.rank }}</span>
        <span *ngIf="ci === 7" class="side-coord left-bottom">{{ s.file }}</span>
      </ng-container>
    </div>
  </div>
  <div class="centered-content" *ngIf="centerText">
    <span class="content-square">{{ centerText }}</span>
  </div>
</div>
